app/src/assets/views/index.pug
extends template/_master

block body
  header.hero
    .hero__wrap
      .container.hero__container
        h1.hero__title For a new economics<br>that takes the climate science seriously.
        p.hero__subtitle #Economists4Future

  .hero-button
    a.button(href="#sign")
      span Sign Now

  section#open-letter.open-letter.text-block
    h2.open-letter__headline.text-block__headline Open Letter

    .open-letter__intro
      p We are living through a #[em climate emergency] and, among the many profound challenges that this presents, the situation demands that the discipline of economics takes a hard look at itself.

    .open-letter__block-a
      p Across the globe, young people are marching in the #[em millions] to demand that necessary action is taken to avoid catastrophic climate disaster. These climate strikers are calling on everyone to play their part in addressing this crisis.

    .open-letter__block-b
      p Economists for Future is extending this demand to the economics community. Despite some exceptions, the overall contribution from economists has been nowhere near commensurate with the magnitude of the problem.
      p Where we have contributed, we have been largely unsuccessful: the market-based solutions have yet to deliver the emission cuts at the required speed.
      p In the context of the climate emergency, #[em winning slowly is losing].

  .task.color-block.text-block
    h3.color-block__headline.text-block__headline The task at hand
    p.color-block__text.-intro As the IPCC puts it, avoiding environmental breakdown requires “rapid, far-reaching and unprecedented changes in all aspects of society”.
    p.color-block__text We must radically change how we produce and consume to overcome the enormous challenge of decoupling economic activity from greenhouse gas emissions and unsustainable resource use.
    p.color-block__text Yet, the real task is to meet this challenge while transforming our world into a more prosperous and equitable place.

  .step-up.text-block.-plain
    h3.step-up__headline.text-block__headline Stepping up
    .columns
      .column
        p Emergencies do not call for incrementalism, they call for an intervention. If the discipline which dedicates itself to studying the economy cannot sufficiently engage in the economic transformation that the climate science requires, then who else can be expected to do this? The responsibility and the opportunity is ours.
      .column
        p Economists like to optimise outcomes given certain constraints. Well, here is the constraint: #[em we have 11 years to halve global emissions]. How do we optimise shared human prosperity within these parameters?
        p #[strong Economists for Future] believes that meeting this challenge requires us to at least embrace the following:

  .proposals.text-block.-plain
    h3.visually-hidden Proposals
    p.proposals__intro.text-block__headline Economists must show the world that they take the climate science seriously by
    ol.proposals__list
      li.proposals__item
        p Prioritising research and resources towards this issue
      li.proposals__item
        p Teaching the next generation differently: the economists of the future must embed ecological concepts within their core thinking.
      li.proposals__item
        p Making public and policy engagement on this issue a core responsibility

  .color-block.proposals-bottom.text-block
    .color-block__text.-intro
      p We cannot afford to be cheerleaders for the status quo. #[br] Business-as-usual is far too expensive. It is economically and morally indefensible.
    p.color-block__text Instead, we must play our part in creating and communicating an intellectual framework that accelerates action on the climate crisis.
    p.color-block__text A commitment to seize this opportunity to strengthen the discipline, but most importantly, the very subject it serves: the wellbeing of humanity.

  section#sign.sign.text-block
    header.sign__header.sign__block
      h2.visually-hidden Sign Now
      p.sign__subheadline Sign now and last CTA because people really need to get kicked in their ass to eventually sign something
      p.sign__info DSGVO ipsum dolor sit amet, consectetur adipisicing elit. Velit, rerum, delectus. Debitis, quam minus earum provident aspernatur. Repellat, expedita, harum #[a(href='#') Privacy Policy].

    form.sign__form.form
      .sign__block.sign__form__group
        .form-item
          input#sign-name(type='text' placeholder='John Doe')
          label.label(for='sign-name') Name
        .form-item
          input#sign-mail(type='email' placeholder='your@e-mail.com')
          label.label(for='sign-mail') E-Mail

      .sign__block.sign__form__group.-secondary
        p Do you have an academic background in economic or an adjacent discipline?

        .form-item.-radio
          input#sign-academics-student(name='sign-academics' type='radio')
          label(for='sign-academics-student') I am a student
        .form-item.-radio
          input#sign-academics-researcher(name='sign-academics' type='radio')
          label(for='sign-academics-researcher') I am an academic researcher
        .form-item.-radio
          input#sign-academics-professional(name='sign-academics' type='radio')
          label(for='sign-academics-professional') I am a working professional
        .form-item.-radio
          input#sign-academics-false(name='sign-academics' type='radio')
          label(for='sign-academics-false') No, I don't have an academic background.

      p.sign__submit
        button.button(type='submit')
          span Send

  footer

app/src/assets/index.html
<!DOCTYPE html>
<html lang="de">

<head>
    <title>Economists for Future</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="page">
    <nav class="page-nav"><a class="page-nav__logo"><img></a>
        <ul class="page-nav__list">
            <li class="page-nav__item"><a class="page-nav__link" href="#open-letter">Open Letter</a></li>
            <li class="page-nav__item"><a class="page-nav__link" href="#open-letter">Updates</a></li>
            <li class="page-nav__item"><a class="page-nav__link" href="#open-letter">About Us</a></li>
            <li class="page-nav__item"><a class="page-nav__link -highlight" href="#open-letter">Sign Now</a></li>
        </ul>
        <ul class="page-nav__list -social">
            <li class="page-nav__item"><a class="page-nav__link" href="">T</a></li>
            <li class="page-nav__item"><a class="page-nav__link" href="">F</a></li>
            <li class="page-nav__item"><a class="page-nav__link" href="">IN</a></li>
        </ul>
    </nav>
    <main class="page__content">
        <header class="hero">
            <div class="hero__wrap">
                <div class="container hero__container">
                    <h1 class="hero__title">Beyond Economics Report</h1>
                    <p class="hero__subtitle">Treating a crisis like a crisis</p>
                    <p class="hero__subsubtitle">Our new report just got published! </br> #Economists4Future</p>
                </div>
            </div>
        </header>
        <div class="hero-button"><a class="button" href="#sign"><span>Sign Now</span></a></div>
        <section class="open-letter text-block" id="open-letter">
            <h2 class="open-letter__headline text-block__headline">Open Letter</h2>
            <div class="open-letter__intro">
                <p>We are living through a <em>climate emergency</em> and, among the many profound challenges that this
                    presents, the situation demands that the discipline of economics takes a hard look at itself.</p>
            </div>
            <div class="open-letter__block-a">
                <p>Across the globe, young people are marching in the <em>millions</em> to demand that necessary action
                    is taken to avoid catastrophic climate disaster. These climate strikers are calling on everyone to
                    play their part in addressing this crisis.</p>
            </div>
            <div class="open-letter__block-b">
                <p>Economists for Future is extending this demand to the economics community. Despite some exceptions, the overall
                    contribution from economists has been nowhere near commensurate with the magnitude of the problem.
                </p>
                <p>Where we have contributed, we have been largely unsuccessful: the market-based solutions have yet to
                    deliver the emission cuts at the required speed.</p>
                <p>In the context of the climate emergency, <em>winning slowly is losing</em>.</p>
            </div>
        </section>
        <div class="task color-block text-block">
            <h3 class="color-block__headline text-block__headline">The task at hand</h3>
            <p class="color-block__text -intro">As the IPCC puts it, avoiding environmental breakdown requires “rapid,
                far-reaching and unprecedented changes in all aspects of society”.</p>
            <p class="color-block__text">We must radically change how we produce and consume to overcome the enormous
                challenge of decoupling economic activity from greenhouse gas emissions and unsustainable resource use.
            </p>
            <p class="color-block__text">Yet, the real task is to meet this challenge while transforming our world into
                a more prosperous and equitable place.</p>
        </div>
        <div class="step-up text-block -plain">
            <h3 class="step-up__headline text-block__headline">Stepping up</h3>
            <div class="columns">
                <div class="column">
                    <p>Emergencies do not call for incrementalism, they call for an intervention. If the discipline
                        which dedicates itself to studying the economy cannot sufficiently engage in the economic
                        transformation that the climate science requires, then who else can be expected to do this? The
                        responsibility and the opportunity is ours.</p>
                </div>
                <div class="column">
                    <p>Economists like to optimise outcomes given certain constraints. Well, here is the constraint:
                        <em>we have 11 years to halve global emissions</em>. How do we optimise shared human prosperity
                        within these parameters?</p>
                    <p><strong>Economists for Future</strong> believes that meeting this challenge requires us to at
                        least embrace the following:</p>
                </div>
            </div>
        </div>
        <div class="proposals text-block -plain">
            <h3 class="visually-hidden">Proposals</h3>
            <p class="proposals__intro text-block__headline">Economists must show the world that they take the climate
                science seriously by</p>
            <ol class="proposals__list">
                <li class="proposals__item">
                    <p>Prioritising research and resources towards this issue</p>
                </li>
                <li class="proposals__item">
                    <p>Teaching the next generation differently: the economists of the future must embed ecological
                        concepts within their core thinking.</p>
                </li>
                <li class="proposals__item">
                    <p>Making public and policy engagement on this issue a core responsibility</p>
                </li>
            </ol>
        </div>
        <div class="color-block proposals-bottom text-block">
            <div class="color-block__text -intro">
                <p>We cannot afford to be cheerleaders for the status quo.<br>Business-as-usual is far too expensive. It
                    is economically and morally indefensible.</p>
            </div>
            <p class="color-block__text">Instead, we must play our part in creating and communicating an intellectual
                framework that accelerates action on the climate crisis.</p>
            <p class="color-block__text">A commitment to seize this opportunity to strengthen the discipline, but most
                importantly, the very subject it serves: the wellbeing of humanity.</p>
        </div>
        <section class="sign text-block" id="sign">
            <header class="sign__header sign__block">
                <h2 class="visually-hidden">Sign Now</h2>
                <p class="sign__subheadline">Sign now and last CTA because people really need to get kicked in their ass
                    to eventually sign something</p>
                <p class="sign__info">DSGVO ipsum dolor sit amet, consectetur adipisicing elit. Velit, rerum, delectus.
                    Debitis, quam minus earum provident aspernatur. Repellat, expedita, harum <a href="#">Privacy
                        Policy</a>.</p>
            </header>
            <form class="sign__form form">
                <div class="sign__block sign__form__group">
                    <div class="form-item"><input id="sign-name" type="text" placeholder="Berhardine Gerdhardt"><label
                            class="label" for="sign-name">Name</label></div>
                    <div class="form-item"><input id="sign-mail" type="email" placeholder="your@e-mail.com"><label
                            class="label" for="sign-mail">E-Mail</label></div>
                </div>
                <div class="sign__block sign__form__group -secondary">
                    <p>Do you have an academic background in economic or an adjacent discipline?</p>
                    <div class="form-item -radio"><input id="sign-academics-student" name="sign-academics"
                            type="radio"><label for="sign-academics-student">I am a student</label></div>
                    <div class="form-item -radio"><input id="sign-academics-researcher" name="sign-academics"
                            type="radio"><label for="sign-academics-researcher">I am an academic researcher</label>
                    </div>
                    <div class="form-item -radio"><input id="sign-academics-professional" name="sign-academics"
                            type="radio"><label for="sign-academics-professional">I am a working professional</label>
                    </div>
                    <div class="form-item -radio"><input id="sign-academics-false" name="sign-academics"
                            type="radio"><label for="sign-academics-false">No, I don't have an academic
                            background.</label></div>
                </div>
                <p class="sign__submit"><button class="button" type="submit"><span>Send</span></button></p>
            </form>
        </section>
        <footer></footer>
    </main>
</body>

</html>
